/* Body Styles */
body {
  margin: 0;
  font-family: 'Roboto Medium', sans-serif;
  background-color: black;
}

/* Element Styles */
.element {
  padding-left: 2rem;
  padding-bottom: 2rem;
  border-top: 0.3rem solid rgb(103, 33, 196);
}

/* Heading Styles */
h1 {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

h2 {
  font-family: 'Roboto Medium', sans-serif;
  color: rgb(59, 7, 102);
  font-size: 2rem;
  margin-top: 1rem;
  color: white;
}

h3 {  
  font-family: 'Roboto Regular', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 1rem;
  color: white;
}

h4 {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: white;
}

ul{
  color: white;
}

/* Style Guide Template Heading */
h5 {
  padding-left: 2rem;
  font-size: 2.25rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: white;
}

/* Paragraph Styles */
p {
  margin-top: 0;
  font-family: 'Roboto Regular', sans-serif;
  color: white;
}

/* Code Styles */
code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/* Navigation Button Styles */
.button-nav,
.button2-nav,
.button3-nav {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  padding: 0.75rem 1.5rem;
}

.button-nav {
  background-color: rgb(50, 50, 50);
}

.button2-nav {
  background-color: rgb(103, 24, 163);
}

.button3-nav {
  background-color: rgb(71, 15, 168);
}

.button-nav:hover, .button-nav:focus,
.button2-nav:hover, .button2-nav:focus,
.button3-nav:hover, .button3-nav:focus {
  background-color: rgb(200, 200, 200);
}

/* Hover Style for Images as Links */
a img:hover { 
  opacity: 0.5; 
}

/* Element Image Styles */
.element img {
  width: 35%; 
}

/* Header and Nav Styles */
/* header {
  background-color: rgba(22, 0, 49, 0.60); 
  color: white;
  text-align: center;
  padding: 1rem;
} */

/* nav {
  width: 100%;
  background-color: #27064f; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
} */

/* Hyperlink Styles */
a {
  color: #27064f;
  font-family: 'Roboto Medium', sans-serif;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
  color: white;
}

a:hover,
a:focus {
  opacity: 0.5; 
}

/* Checkout Cart Styles */
.checkout-cart {
  padding: 1rem;
}

.checkout-cart .cart-item {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}

.checkout-cart .cart-item img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.checkout-cart h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.checkout-cart p {
  margin: 0;
  font-family: 'Roboto Regular', sans-serif;
}

.checkout-cart .cart-total {
  border-top: 2px solid #27064f;
  margin-top: 1rem;
  padding-top: 1rem;
}

/* Checkout Payment Form */
#checkout-payment {
  max-width: 400px; 
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

#checkout-payment h1 {
  text-align: center;
  font-size: 2.4rem;
  color: white;
  margin-bottom: 25px;
}

#checkout-payment div {
  margin-bottom: 15px;
}

.personal-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.personal-info div {
  flex: 1 1 160px;
}

.billing-info {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.billing-info div {
  flex: 1 1 160px;
}

/* Removing styling from children */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/all */
.payment-type label, input[type="radio"] {
  all: revert;
  color: white;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  display: block;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

/* Product/Service Listing Styles */
#product_listing {
  padding: 2rem;
}

.service-list {
  display: flex;
}

.service-item {
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  text-align: left;
}

.service-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.service-item h3 {
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.service-item a {
  display: block; 
  margin-top: 1.5rem;
  text-align: center; 
  background-color: #27064f;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.3rem 1rem;
  transition: background-color 0.3s ease-in-out;
}

/* Potential Imagery Section */
.element figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.element figure img {
  width: 70%;
  max-height: 200px;
  object-fit: cover;
}

.element figcaption {
  font-family: 'Roboto Medium', sans-serif;
  color: rgb(98, 0, 255);
  font-size: 1.5rem;
}

/* MORE DETAILS SECTION */
#more-details {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.main-info{
  display: flex;
  justify-content: space-between;
}

.service-details img {
  width: 50%;
  margin-bottom: 0.5rem;
  margin-right: 20px;
}

/* CONTACT US SECTION */
.client-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.client-form h2 {
  text-align: center;
  color: white;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group input,
#subject,
.message {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-group input[type="text"] {
  margin-right: 10px;
}

.input-group input[type="email"] {
  margin-left: 10px; 
}

.message {
  height: 200px;
  resize: none;
}

.client-form button {
  width: 100%;
  padding: 12px;
  background-color: #27064f;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.client-form button:hover {
  opacity: 0.5; 
}

#feedback-client-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

#feedback-client-info :nth-child(1),
#feedback-client-info :nth-child(2) {
  flex: 1 1;
}

#feedback-client-info :nth-child(5) {
  flex: 1;
}

#feedback-client-info > * {
  flex: 0 0 auto;
}

#feedback-rating input[type="radio"],
label {
  all: inherit;
  color: white;
}

/* NAVIGATION MENU */
/* Guidance from: https://www.youtube.com/watch?v=Ch_LoWKLv3A&list=PL4-IK0AVhVjNDRHoXGort7sDWcna8cGPA&index=3*/

/* This class is from https://a11y-guidelines.orange.com/en/articles/accessible-hiding/ */
/* .visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.nav {
  display: flex;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding: 0px 20px;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  display: flex;
  gap: clamp(1rem, 2.5vw, 1.25rem);
}

@media (max-width: 50em) {
  .primary-nav {
    display: block;
    position: absolute;
    padding: 2.25rem;
    inset: 7rem 1.25rem auto;
    background: #27064f;
    border-radius: 0.25rem;
  }

  .nav-list {
    display: grid;
    gap: 1.5rem;
    text-align: center;
  }

  .mobile-nav-toggle {
    display: block;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle {
    display: block;
  }
  
  .mobile-nav-toggle .icon-close-menu {
    display: none;
  }
} */

/* Sticky nav from: https://stackoverflow.com/questions/3593594/how-to-keep-the-header-static-always-on-top-while-scrolling/58645785#58645785 */
/* .nav {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 1.5rem 5%;
  background-color: rgba(22, 0, 49, 0.60);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}

nav a:hover {
  opacity: 0.5; 
}

.hamburger-button {

} */




/* Sticky nav from: https://stackoverflow.com/questions/3593594/how-to-keep-the-header-static-always-on-top-while-scrolling/58645785#58645785 */
.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgba(22, 0, 49, 0.60);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
}

nav {
  display: flex;
  gap: 4rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.15rem;
}

#menu-btn {
  /* display: none; */
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 0;
  background: none;
}

@media (max-width: 1000px) {
  nav {
    z-index: 999;
    position: absolute;
    top: 90px;
    background: rgb(62, 0, 113);
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 0;
    align-items: center;
    overflow: hidden;
  }

  nav a:first-child {
    margin-top: 5rem;
  }

  .menu-icon {
    display: block;
  }
  
  #menu-btn:checked + nav {
    height: 100vh;
  }
}








