/* HOME PAGE TEMPLATE */
/* Guidance from: https://www.youtube.com/watch?v=Ch_LoWKLv3A&list=PL4-IK0AVhVjNDRHoXGort7sDWcna8cGPA&index=3*/

.hero {
  position: relative;
  margin-inline: auto;
  text-align: right;
  margin-block-end: 10rem;
}

.hero .opacity-box {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #000000a2;
}

.hero h1 {
  position: absolute;
  top: 5vh;
	right: 5vw;
  z-index: 2;
  font-size: 8rem;
  margin: 0;
  padding-right: 1rem;
  text-align: right;
  text-decoration: underline;
  text-decoration-color: rebeccapurple;
  text-decoration-thickness: 10px;
}

.hero img {
  position: relative;
  z-index: 0;
  max-width: 100vw;
  width: 100%;
  height: 95vh;
  object-fit: cover;
  object-position: 0 60%;
  display: block;
}

@media (max-width: 1200px) {
  .hero {
    margin-block-end: 8rem;
  }

  .hero h1 {
    font-size: 7rem;
    text-decoration-thickness: 8px;
  }

  .hero img {
    height: 60vh;
  }
}

@media (max-width: 1000px) {
  .hero {
    margin-block-end: 7rem;
  }

  .hero h1 {
    font-size: 6rem;
    text-decoration-thickness: 6px;
    line-height: 1.3;
  }

  .hero img {
    height: 50vh;
  }
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 4rem;
    text-decoration-thickness: 5px;
  }
}

@media (max-width: 600px) {
  .hero {
    margin-block-end: 5rem;
  }

  .hero h1 {
    font-size: 3rem;
    text-decoration-thickness: 5px;
  }
}

@media (max-width: 450px) {
  .hero h1 {
    font-size: 2rem;
  }
}

.container {
  position: relative;
  /* min() function from: https://www.youtube.com/watch?v=Ch_LoWKLv3A&list=PL4-IK0AVhVjNDRHoXGort7sDWcna8cGPA&index=3*/
  width: min(1110px, 100% - (1rem * 2));
  margin-inline: auto;
  padding-block-end: 7rem;
}

@media (max-width: 500px) {
  .container {
    padding-block-end: 2rem;
  }
}

.about-us-home {
  max-width: 45rem;
  margin-inline: auto;
}

.about-us-home h2 {
  text-align: center;
}

.service-button {
  padding-top: 2rem;
  text-align: center;
}

@media (min-width: 50em) {
  .photography-service {
    grid-auto-flow: column;
  }
}

.contact-info h2 {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 43%
}

/* HOME-Services */
.home-service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-service-item {
  flex-basis: calc(50% - 20px);
  margin-bottom: 40px;
}

.home-service-item img {
  width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
  margin-bottom: 20px;
}

/* HOME-Gallery */
.product-gallery ul{
  list-style-type: none;
}

/* HOME-BACKGROUND*/
.background-image {
    background-image: url('../img/edm.jpg');
    background-color: rgba(0, 0, 0, 0.85); 
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center center;
} 

/* HOME-Testimonial */
.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial {
  flex-basis: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.testimonial img {
  border-radius: 50%; 
  width: 100px; 
  height: 100px; 
  object-fit: cover; 
  object-position: center; 
  margin-bottom: 25px;
}

/* HOME-Blog */
.blog-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-post {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 40px;
}

.blog-post img {
  width: 100%;
	aspect-ratio: 1 / 1.25;
	object-fit: cover;
  height: auto;
  margin-bottom: 20px;
}

/* Cropping and positioning images: https://www.educative.io/answers/how-to-crop-an-image-in-css */
.contact-info img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  object-position: 0 35%;
  display: block;
  z-index: 0;
}

/* ABOUT TEMPLATE */
.about-us-intro {
  margin-top: 10rem;
}

/* Grid guide from: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_grid_layout */
.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 950px) {
  .about-content {
    display: flex;
    flex-direction: column;
  }

  .about-content :nth-child(2) { order: 1; }
  .about-content :nth-child(1) { order: 2; }

  .about-content img {
    height: 50vh;
    object-fit: cover;
  }
}

.about-content img {
  width: 100%;
}

.about-content ul {
  margin-top: 2rem;
}

.about-content ul li{
  padding-bottom: 0.75rem;
  font-family: 'Roboto Regular', sans-serif;
  line-height: 1.5rem;
}

.about-content ul span{
  padding-bottom: 0.75rem;
  font-family: 'Roboto bold', sans-serif;
}

/* PORTFOLIO TEMPLATE (On Homepage) */
.product-gallery * {
	box-sizing: border-box;
}

.product-gallery img {
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: transform 1000ms;
}

.product-gallery ul {
	margin: 0;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	max-width: 100%;
	width: 70rem;
  margin: auto;
}

.product-gallery figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.product-gallery figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	color: white;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

.product-gallery a:is(:hover, :focus) figure::after {
	opacity: 1;
}

.product-gallery a:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
} 
/* PORTFOLIO TEMPLATE */
.gallery {
  display: flex;
}

.gallery-column {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.gallery-link:hover .gallery-caption {
  opacity: 1;
}

.gallery-thumb {
  position: relative;
  margin: 1rem;
}

.gallery-image {
  display: block;
  width: 100%;
  transition: .3s; 
}

.gallery-image:hover {
  transform: scale(1.1);
}

.gallery-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

@media (max-width: 1100px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-column {
    width: 100%;
  }

  .gallery :last-child {
    flex-direction: row;
    grid-column: 1 / -1;
  }
}

@media (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery :last-child {
    flex-direction: column;
  }
}

/* SERVICES TEMPLATE */
.service-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.events-service, .portrait-service, .pricing, .booking-services {
  padding: 1rem 0 5rem 0;
  border-bottom: 0.3rem solid rgb(81, 9, 175);
}

.events-service img, .portrait-service img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  padding-bottom: 0.5rem;

}

.events-service p, .portrait-service p, .pricing p, .booking-services p {
  max-width: 40rem;
  margin-bottom: 2rem;
}

.events-service ul, .portrait-service ul {
  list-style-type: none;
  padding: 1rem;
}

.events-service ul li, .portrait-service ul li {
  margin-bottom: 10px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BOOKING TEMPLATE */
.booking-info {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.booking-info h2, .booking-info p {
  text-align: center;
}

.booking-info form {
  display: flex;
  flex-direction: column;
}

.booking-info input,
.booking-info select,
.booking-info textarea {
  padding: 12px;
  margin-bottom: 20px;
}

.booking-info textarea {
  width: 100%;
  box-sizing: border-box;
}

/* Footer styling */

.footer {
  display: grid;
  justify-content: center;
  align-content: start;
  min-height: 40vh;
  background: rebeccapurple;
  padding: 3rem;
  margin-top: 5rem;
}

.foot-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  /* Grid repeat(): https://developer.mozilla.org/en-US/docs/Web/CSS/repeat */
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 2rem;
}

@media (max-width: 1100px) {
  .foot-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
}

@media (max-width: 550px) {
  .foot-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.footer ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer ul li {
  padding-block-end: 1rem;
}

.footer ul li a {
  text-decoration: none;
  font-family: 'Roboto Regular', sans-serif;
}

.social-foot ul {
  flex-direction: row;
}


.social-foot ul li {
  padding: 0 1rem 0 0;
}

.fa-brands {
  font-size: 1.5rem;
}

.contact-foot span {
  padding-right: 1rem;
}

.copyright-info {
  text-align: center;
  padding-top: 3rem;
}






