/* HOME PAGE TEMPLATE */
/* Guidance from: https://www.youtube.com/watch?v=Ch_LoWKLv3A&list=PL4-IK0AVhVjNDRHoXGort7sDWcna8cGPA&index=3*/

.hero {
  position: relative;
  margin-inline: auto;
  text-align: right;
}

.hero .opacity-box {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #000000a2;
}

.hero h1 {
  position: absolute;
  top: 5vh;
	right: 5vw;
  z-index: 2;
  font-size: 8rem;
  margin: 0;
  padding-right: 1rem;
  text-align: right;
  text-decoration: underline;
  text-decoration-color: rebeccapurple;
  text-decoration-thickness: 10px;
}

.hero img {
  position: relative;
  z-index: 0;
  max-width: 100vw;
  width: 100%;
  height: 95vh;
  object-fit: cover;
  object-position: 0 60%;
  display: block;
}

@media (max-width: 1200px) {
  .hero h1 {
    font-size: 7rem;
    text-decoration-thickness: 8px;
  }

  .hero img {
    height: 60vh;
  }
}

@media (max-width: 1000px) {
  .hero h1 {
    font-size: 6rem;
    text-decoration-thickness: 6px;
    line-height: 1.3;
  }

  .hero img {
    height: 50vh;
  }
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 4rem;
    text-decoration-thickness: 5px;
  }
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 3rem;
    text-decoration-thickness: 5px;
  }
}

@media (max-width: 450px) {
  .hero h1 {
    font-size: 2rem;
  }
}

.container {
  position: relative;
  width: min(1110px, 100% - (1rem * 2));
  margin-inline: auto;
  padding-block: 5rem;
}

@media (max-width: 450px) {
  .container {
    padding-block: 2rem;
  }
}

.about-us-home {
  max-width: 45rem;
  margin-inline: auto;
}

.about-us-home h2 {
  text-align: center;
}

.service-button {
  padding-top: 2rem;
  text-align: center;
}

@media (min-width: 50em) {
  .photography-service {
    grid-auto-flow: column;
  }
}

.contact-info h2 {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 43%
}

/* HOME-Services */
.home-service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-service-item {
  flex-basis: calc(50% - 20px);
  margin-bottom: 40px;
}

.home-service-item img {
  width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
  margin-bottom: 20px;
}

/* HOME-Gallery */
.product-gallery ul{
  list-style-type: none;
}

/* HOME-Testimonial */
.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial {
  flex-basis: calc(50% - 20px);
  margin-bottom: 40px;
}

/* HOME-Blog */
.blog-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-post {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 40px;
}

.blog-post img {
  width: 100%;
	aspect-ratio: 1 / 1.25;
	object-fit: cover;
  height: auto;
  margin-bottom: 20px;
}

/* Cropping and positioning images: https://www.educative.io/answers/how-to-crop-an-image-in-css */
.contact-info img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  object-position: 0 35%;
  display: block;
  z-index: 0;
  border: 1px solid rebeccapurple;
}

/* ABOUT TEMPLATE */
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  width: 80%;

}

.about-content {
  flex: 1;
  padding: 20px;
  width: 50%;
  border-top: 0.3rem solid rgb(81, 9, 175);
}

.about-image {
  flex: 1;
  width: 50%; 
}

.about-image img {
  max-width: 100%;
  height: auto;
}

/* PORTFOLIO TEMPLATE */
.product-gallery * {
	box-sizing: border-box;
}

.product-gallery img {
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: transform 1000ms;
}

.product-gallery ul {
	margin: 0;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	max-width: 100%;
	width: 70rem;
    margin: auto;
}

.product-gallery figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.product-gallery figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	color: white;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

.product-gallery a:is(:hover, :focus) figure::after {
	opacity: 1;
}

.product-gallery a:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}

/* SERVICES TEMPLATE */
.service-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.events-service, .portrait-service, .pricing, .booking-services {
  padding: 1rem 0 5rem 0;
  border-bottom: 0.3rem solid rgb(81, 9, 175);
}

.events-service img, .portrait-service img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  padding-bottom: 0.5rem;
  border: 1px solid #ccc;
}

.events-service p, .portrait-service p, .pricing p, .booking-services p {
  max-width: 40rem;
}

.events-service ul, .portrait-service ul {
  list-style-type: none;
  padding: 1rem;
}

.events-service ul li, .portrait-service ul li {
  margin-bottom: 10px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BOOKING TEMPLATE */
.booking-info {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.booking-info h2, .booking-info p {
  text-align: center;
}

.booking-info form {
  display: flex;
  flex-direction: column;
}

.booking-info input,
.booking-info select,
.booking-info textarea {
  padding: 12px;
  margin-bottom: 20px;
}

.booking-info textarea {
  width: 100%;
  box-sizing: border-box;
}





