/* NAVIGATION BAR */
.nav .primary-nav ul li {
  display: inline-block;
  list-style-type: none;
}

/* HOME PAGE TEMPLATE */
/* Guidance from: https://www.youtube.com/watch?v=Ch_LoWKLv3A&list=PL4-IK0AVhVjNDRHoXGort7sDWcna8cGPA&index=3*/

.main-content-padding {
  padding-bottom: 5rem;
}

.hero {
  position: relative;
  margin-inline: auto;
}

.hero h1 {
  position: absolute;
  z-index: 1;
  padding: 2em 0 0 2em;
}

.hero img {
  position: relative;
  z-index: 0;
  max-width: 100vw;
}

.container {
  position: relative;
  width: min(1110px, 100% - (1rem * 2));
  margin-inline: auto;
}

.about-us {
  width: min(1110px, 50%);
  margin-inline: auto;
}

.about-us h2 {
  text-align: center;
}

.service-button {
  padding-top: 2rem;
}

.photography-service {
  display: grid;
  gap: 1.5rem;
}

.photography-service img {
  width: 33vw;
}

@media (min-width: 50em) {
  .photography-service {
    grid-auto-flow: column;
  }
}

.contact-info h2 {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 43%
}

/* Cropping and positioning images: https://www.educative.io/answers/how-to-crop-an-image-in-css */
.contact-info img {
  width: 100%;
  height: 15em;
  object-fit: cover;
  object-position: 0 35%;
  display: block;
  z-index: 0;
  border: 1px solid rebeccapurple;
}

/* ABOUT TEMPLATE */
.about-us {
  width: 100%;
  margin-inline: auto;
  padding: 2rem;
}

.about-us img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 1rem;
}

/* PORTFOLIO TEMPLATE */
.gallery {
    background-color: black;
}

.product-gallery * {
	box-sizing: border-box;
}

.product-gallery img {
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: transform 1000ms;
}

.product-gallery ul {
	margin: 0;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	max-width: 100%;
	width: 70rem;
    margin: auto;
}

.product-gallery figure {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.product-gallery figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	color: white;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

.product-gallery a:is(:hover, :focus) figure::after {
	opacity: 1;
}

.product-gallery a:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}